h1{
    text-align: center;
    width: 800px;
    background-color:rgba(0, 0, 0, 0) ;
    margin: auto;
    color: #e9e9e9;
    padding: 10px 0px 10px 0px;
    border-radius: 15px 15px 0px 0px;
    font-family:sans-serif;
    
}
*
{
    margin: 15px;
    padding: 2px;
}
body
{
    
    background-color: black;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 40px;
}
td
{
    
    color: rgba(255, 255, 255, 0.9) ;
    padding: 10px;
    margin-left: 300px; 
    margin-top: 30px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 700;
    background-color: ;

}
table
{
    border-style:outset;
    
    background-color: rgba(248, 247, 247, 0);
    width: 800px;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;

}
img
{
    width: 160px;
    height: 200px;
    float: right; 
   padding-right: 500px;

    
}
